# Database
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/inventory_platform_dev?schema=public"

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# Node
NODE_ENV=development
PORT=3000

# S3 (future)
# AWS_REGION=us-east-1
# AWS_ACCESS_KEY_ID=xxx
# AWS_SECRET_ACCESS_KEY=xxx
# S3_BUCKET=inventory-platform

# ClickHouse (future)
# CLICKHOUSE_HOST=localhost
# CLICKHOUSE_PORT=8123
